.container1 {
  width: 600px;
  border: 1px solid black;
  margin: auto;
  padding: 5px;
}

img {
  float: left;
}

.clear1 {
  clear: left;
}

.container2 {
  width: 600px;
  border: 1px solid black;
  margin: auto;
  padding: 5px;
}
.kotak {
  width: 80px;
  height: 80px;
  background-color: salmon;
  color: white;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
  margin: 2px;
  float: right;
}

.clear2 {
  clear: right;
}

.container3 {
  width: 800px;
  border: solid 2px black;
  margin: auto;
}

.box {
  height: 500px;
}

.kiri {
  background-color: red;
  width: 150px;
  float: left;
  padding: 10px;
  box-sizing: border-box;
}
.tengah {
  background-color: yellow;
  width: 400px;
  float: left;
}
.kanan {
  background-color: green;
  width: 250px;
  float: right;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
.cf {
  *zoom: 1;
}
