html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* style */
body {
  font: 16px/28px arial, sans-serif;
  background-image: url(../img/herringbone.png);
  color: #333333;
}
.top-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    z-index: 999;
    background-color: lightskyblue;
    border-bottom: 3px solid salmon;
}
.container {
  width: 960px;
  margin: 80px auto;
  background-color: white;
  position: relative;
}
.twitter {
    width: 200px;
    height: 200px;
    background-image: url(../img/Twitter.png);
    background-repeat: no-repeat;
    display: inline-block;
    background-size: cover;
    position: absolute;
    top: -22px;
    right: -27px;
}
.header {
  padding: 20px 20px 10px 20px;
}

.header .judul {
  font-size: 30px;
  font-weight: bold;
}
.header ul li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}

.header ul li a {
  text-decoration: none;
  color: salmon;
  padding: 3px;
}
.header ul li a:hover {
  background-color: lightblue;
  color: white;
}

.hero {
  height: 350px;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: 0 -100px;
  border-top: 5px solid red;
  border-bottom: 5px solid lightblue;
}

.sidebar {
  width: 300px;
  height: 300px;
  float: right;
  box-sizing: border-box;
  padding: 20px;
}

.sidebar h3 {
    font-size: 16px;
    font-weight: bold;
    color: #666;
}

.sidebar img {
    width: 100px;
    float: left;
    padding-right: 10px;
}

.sidebar p {
    font-size: 14px;
    line-height: 18px;
}

.main {
  width: 600px;
  padding: 20px;
  float: left;
  box-sizing: border-box;
}

.main h2 {
  font-size: 28px;
  font-weight: bold;
}

.main p {
  font-size: 14px;
}

.main .penulis a {
  text-decoration: none;
}

.main p {
  margin-bottom: 20px;
  font-size: 15px;
}

.footer {
  background-color: black;
  padding: 10px;
}

.footer .copy {
  text-align: center;
  color: #eaeaea;
  font-size: 14px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }